@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Domine&display=swap');
body {
  color: #334D6E;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFBFC;
}

p {
  font-family: 'Domine', serif;
  color: #898D9D;
  font-size: 1.2rem;
  font-weight: 500;
}

.h1-heading {
  font-size: calc(2rem + 1.2vw);
  margin: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.component-code {
  margin-left: 5vw;
}

.parent-captcha-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #fff;
}

.sub-parent-captcha-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-captcha-icon {
  font-size: 2rem;
  /* font-weight: 600; */
}

.react-captcha {
  height: 20vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.react-captcha-canvas {
  height: 100%;
}

.react-captcha-icon-wrapper {
  height: 95%;
  width: 5vw;
  display: flex;
  justify-content: center;
  padding: 0.8em 0.5em;
  margin: 0em 0.5em;
  align-items: center;
}

.captcha-wrapper {
  padding: 6em;
  border: 2px dashed #334D6E;
  border-radius: 5px;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.component-code p {
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.footer {
  margin: 2em 0;
}

.footer p {
  color: #334D6E;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: #109CF1;
  ;
}

.installation-code {
  margin-top: 2em;
}

table td, table th {
  text-align: left;
  white-space: initial;
  padding: 1em;
  word-wrap: break-word;
  max-width: 18vw;
}

td {
  color: #898D9D;
  font-weight: normal;
  font-family: 'Domine', serif;
}

.props-table {
  margin-top: 8em;
  margin-bottom: 2em;
}

table {
  display: block;
  overflow-x: auto;
  border-radius: 5px;
  padding: 2em;
  white-space: nowrap;
  background-color: #fff !important;
  border: 1px solid #898D9D;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

.root-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table tr {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

@media(max-width:768px) {
  .component-code {
    width: 100%;
    margin-top: 3em;
    margin-left: 0;
  }
  .parent-captcha-wrapper {
    flex-direction: column;
  }
  #root {
    padding: 2em 1em;
  }
  table {
    width: 92vw;
  }
  table td, table th {
    text-align: left;
    white-space: initial;
    padding: 1em;
    word-wrap: break-word;
    max-width: 50vw;
  }
}

@media(max-width:576px) {
  .react-captcha-canvas {
    width: 70vw;
    height: 100%;
  }
  .react-captcha {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .react-captcha-icon-wrapper {
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 1em 0.5em !important;
    margin: 3em 0;
    margin-left: 0 !important;
    align-items: center;
  }
  .captcha-wrapper {
    padding: 20vh 2.5vh;
    border: 2px dashed #334D6E;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10%; */
    border-radius: 5px;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }
}